/* styles-verduleria.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
}

header {
    background-color: #32cd32;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main {
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

input, select, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #32cd32;
    color: white;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

button:hover {
    background-color: #28a428;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#agregarCantidadContainer {
    background-color: #e8f5e8;
    border: 1px solid #32cd32;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    display: none; /* Oculto por defecto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#agregarCantidadContainer h4 {
    margin-top: 0;
    color: #32cd32;
}

#totalCompra {
    font-weight: bold;
    background-color: #dff0d8;
    border: 1px solid #c3e6cb;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

h2, h3, h4 {
    color: #32cd32;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: text-shadow 0.3s ease;
}

nav a:hover {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}
