body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #ff0088;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    display: flex;
    flex-direction: column; /* Cambia la dirección para apilar los resultados */
    align-items: center; /* Centra los elementos */
    margin-top: 20px;
}

#numeros-azar, #numeros-ordenados {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 10px; /* Espaciado entre los números */
}

.numero {
    width: 50px; /* Ancho de cada número */
    height: 50px; /* Alto de cada número */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #11bc58;
    border: 2px solid #004080; /* Borde más oscuro */
    border-radius: 8px; /* Bordes redondeados */
    font-size: 24px; /* Tamaño de texto más grande */
    color: #fff; /* Color de texto blanco */
    transition: background-color 0.5s, transform 0.5s; /* Transiciones suaves */
}

.cambiando {
    background-color: #df7a14; /* Color de fondo al intercambiar */
    transform: scale(1.1); /* Escala ligeramente el número */
}
