
* {
    margin: 3;
    padding: 2;
    box-sizing: border-box;
}


body {
    font-family: 'Cambrial Math', sans-serif;
    line-height: 1.6;
    background-color: #0f283e; 
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #a8bbd1;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1, h2 {
    color: #004d99;
    margin-bottom: 10px;
}

input[type="text"], input[type="date"], button {
    border: 1px solid #a11515;
    border-radius: 5px;
    padding: 13px;
    margin: 20px 0;
    width: 80%;
    box-sizing: border-box;
}

input[type="text"], input[type="date"] {
    font-size: 16px;
}

button {
    background-color: #c7ccd4; 
    color: #000000; 
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #11a462;
}

